html, body, div#root {
  background: black;
  color: white;
  font-family: monospace;
  height: 100%;
}

table {
  width: 100%;
  height: 100%;
}

td {  
  width: 12%;
  font-size: 15vh;
  text-align: center;
}

td > p {
  overflow: hidden;
  margin: 0;
}

td > p.hidden {
  color: gray;
  background-color: gray;
}

div.lose {
  color: red;
}

div.win {
  color: lime;
}